dist: trusty

language: java

jdk:
  - oraclejdk8

notifications:
  email: true

before_script:

  # Disable services enabled by default
  # http://docs.travis-ci.com/user/database-setup/#MySQL
  - sudo /etc/init.d/mysql stop
  - sudo /etc/init.d/postgresql stop

  # Ensure Gradle wrapper is executable
  - chmod +x gradlew

script:
  - ./gradlew clean assemble test
